
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color: #edf2fc;
    --secondary-color: #212121;

    --black: #000000;
    --gray: #444444;
    --green: #00a84c;
    
    --darkBlue: #002472;

    --hue: 223;
	--off-hue: 3;
	--on-hue1: 123;
	--on-hue2: 168;
	--fg: hsl(var(--hue),10%,90%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.6s;
	--trans-timing: cubic-bezier(0.65,0,0.35,1);
}

.dark-theme {
    --primary-color: #000106;
    --secondary-color: #fff;
}

*{
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  bottom: none;
  transition: all .2s linear;
}

*::selection {
    background: var(--black);
    color: var(--primary-color);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: #222;
}

html::-webkit-scrollbar-thumb {
    background: #5fa5ff;
    border-radius: 10px;
}

body {
    background: var(--primary-color);
    overflow: hidden;
    padding-left: 35rem;
}

#icon {
    width: 30px;
    cursor: pointer;
}
/* .switch,
.switch__input {
	-webkit-tap-highlight-color: #0000;
}
.switch {
	display: block;
	margin: auto;
	position: relative;
	width: 5em;
	height: 3em;
}
.switch__base-outer,
.switch__base-inner {
	display: block;
	position: absolute;
}
.switch__base-outer {
	border-radius: 1.25em;
	box-shadow:
		-0.125em -0.125em 0.25em hsl(var(--hue),10%,30%),
		0.125em 0.125em 0.125em hsl(var(--hue),10%,30%) inset,
		0.125em 0.125em 0.25em hsl(0,0%,0%),
		-0.125em -0.125em 0.125em hsl(var(--hue),10%,5%) inset;
	top: 0.125em;
	left: 0.125em;
	width: 4.75em;
	height: 2.75em;
}
.switch__base-inner {
	border-radius: 1.125em;
	box-shadow:
		-0.25em -0.25em 0.25em hsl(var(--hue),10%,30%) inset,
		0.0625em 0.0625em 0.125em hsla(var(--hue),10%,30%),
		0.125em 0.25em 0.25em hsl(var(--hue),10%,5%) inset,
		-0.0625em -0.0625em 0.125em hsla(var(--hue),10%,5%);
	top: 0.375em;
	left: 0.375em;
	width: 4.25em;
	height: 2.25em;
}
.switch__base-neon {
	display: block;
	overflow: visible;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}
.switch__base-neon path {
	stroke-dasharray: 0 104.26 0;
	transition: stroke-dasharray var(--trans-dur) var(--trans-timing);
}
.switch__input {
	outline: transparent;
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-appearance: none;
	appearance: none;
}
.switch__input:before {
	border-radius: 0.125em;
	box-shadow: 0 0 0 0.125em hsla(var(--hue),90%,50%,0);
	content: "";
	display: block;
	position: absolute;
	inset: -0.125em;
	transition: box-shadow 0.15s linear;
}
.switch__input:focus-visible:before {
	box-shadow: 0 0 0 0.125em var(--primary);
}
.switch__knob,
.switch__knob-container {
	border-radius: 1em;
	display: block;
	position: absolute;
}
.switch__knob {
	background-color: hsl(var(--hue),10%,15%);
	background-image:
		radial-gradient(88% 88% at 50% 50%,hsl(var(--hue),10%,20%) 47%,hsla(var(--hue),10%,20%,0) 50%),
		radial-gradient(88% 88% at 47% 47%,hsl(var(--hue),10%,85%) 45%,hsla(var(--hue),10%,85%,0) 50%),
		radial-gradient(65% 70% at 40% 60%,hsl(var(--hue),10%,20%) 46%,hsla(var(--hue),10%,20%,0) 50%);
	box-shadow:
		-0.0625em -0.0625em 0.0625em hsl(var(--hue),10%,15%) inset,
		-0.125em -0.125em 0.0625em hsl(var(--hue),10%,5%) inset,
		0.75em 0.25em 0.125em hsla(0,0%,0%,0.8);
	width: 2em;
	height: 2em;
	transition: transform var(--trans-dur) var(--trans-timing);
}
.switch__knob-container {
	overflow: hidden;
	top: 0.5em;
	left: 0.5em;
	width: 4em;
	height: 2em;
}
.switch__knob-neon {
	display: block;
	width: 2em;
	height: auto;
}
.switch__knob-neon circle {
	opacity: 0;
	stroke-dasharray: 0 90.32 0 54.19;
	transition:
		opacity var(--trans-dur) steps(1,end),
		stroke-dasharray var(--trans-dur) var(--trans-timing);
}
.switch__knob-shadow {
	border-radius: 50%;
	box-shadow: 0.125em 0.125em 0.125em hsla(0,0%,0%,0.9);
	display: block;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	width: 2em;
	height: 2em;
	transition: transform var(--trans-dur) var(--trans-timing);
}
.switch__led {
	background-color: hsl(var(--off-hue),90%,70%);
	border-radius: 50%;
	box-shadow:
		0 -0.0625em 0.0625em hsl(var(--off-hue),90%,40%) inset,
		0 0 0.125em hsla(var(--off-hue),90%,70%,0.3),
		0 0 0.125em hsla(var(--off-hue),90%,70%,0.3),
		0.125em 0.125em 0.125em hsla(0,0%,0%,0.5);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 0.25em;
	height: 0.25em;
	transition:
		background-color var(--trans-dur) var(--trans-timing),
		box-shadow var(--trans-dur) var(--trans-timing);
}
.switch__text {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
}
.switch__input:checked ~ .switch__led {
	background-color: hsl(var(--on-hue1),90%,70%);
	box-shadow:
		0 -0.0625em 0.0625em hsl(var(--on-hue1),90%,40%) inset,
		0 -0.125em 0.125em hsla(var(--on-hue1),90%,70%,0.3),
		0 0.125em 0.125em hsla(var(--on-hue1),90%,70%,0.3),
		0.125em 0.125em 0.125em hsla(0,0%,0%,0.5);
}
.switch__input:checked ~ .switch__base-neon path {
	stroke-dasharray: 52.13 0 52.13;
}
.switch__input:checked ~ .switch__knob-shadow,
.switch__input:checked ~ .switch__knob-container .switch__knob {
	transform: translateX(100%);
}
.switch__input:checked ~ .switch__knob-container .switch__knob-neon circle {
	opacity: 1;
	stroke-dasharray: 45.16 0 45.16 54.19;
	transition-timing-function: steps(1,start), var(--trans-timing);
} */

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 35rem;
    z-index: 1000;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img {
    height: 40rem;
    width: 20rem;
    border-radius: 20%;
    object-fit: cover;
    margin-bottom: 1rem;
    /* border: .6rem solid var(--secondary-color); */
}

header .user .name {
    font-size: 2.7rem;
    color: var(--secondary-color);
}

header .user .post {
    font-size: 1.3rem;
    color:#5fa5ff;
}

header .navbar {
    width: 100%;
}

header .navbar ul {
    list-style: none;
    padding: 1rem 4.5rem;
}

header .navbar ul li a {
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    font-size: 1.3rem;
    background-color: rgba(255,255,255,0.05);
    border: none;
    color: var(--secondary-color);
    border-radius: 5px;
    transition: 0.5s;
    border: 1px solid #ccc;
}

header .navbar ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    transition: all .3s ease;
}

#menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

section {
    min-height: 100vh;
    padding: 1rem;
}

.home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3 {
    font-size: 2.5rem;
    color: rgb(80, 80, 80);
}

.home h1 {
    font-size: 5rem;
    color: var(--secondary-color);
}

.home h1 span {
    color: #5fa5ff;
}

.home p {
    font-size: 2rem;
    color: var(--secondary-color);
    padding: 2rem 0;
}

.btn_hero {
    width: 225px;
    height: 50px;
    position: flex;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(255,255,255,0.05);
    border: none;
    font-family: 'Poppins',sans-serif;
    color: var(--secondary-color);
    font-size: 16px;
    letter-spacing: 10px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    border:1px solid #ccc;
}

.btn_hero:after {
    content: "";
    position: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 0.7s;
}

.btn_hero:hover::after {
    background-position: -20% 0;
}

.btn_hero:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-10px);
}

.btn_hero i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn_hero:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}


/* ============================ ABOUT SECTION: Starts =========================== */

.heading {
    text-align: center;
    margin: 0 8rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .29rem solid var(--secondary-color);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    color: var(--secondary-color);
}

.heading span {
    color: #5fa5ff;
}

.btn_cv {
    width: 210px;
    height: 40px;
    position: flex;
    margin-top: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(255,255,255,0.05);
    border: none;
    font-family: 'Poppins',sans-serif;
    color: var(--secondary-color);
    font-size: 14px;
    letter-spacing: 5px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
    border:1px solid #ccc;
}

.btn_cv:after {
    content: "";
    position: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 0.7s;
}

.btn_cv:hover::after {
    background-position: -20% 0;
}

.btn_cv:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateY(-10px);
}

.btn_cv i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn_cv:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}

.about .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.about .row .info {
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3 {
    font-size: 16px;
    color: var(--secondary-color);
    padding: 1rem 0;
    font-weight: normal;
}

.about .row .info h3 span {
    color: var(--secondary-color);
    padding: 0 .5rem;
    font-weight: bold;
}

.about .row .counter {
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box {
    width: 20rem;
    /* background: var(--secondary-color); */
    text-align: center;
    padding: 2rem;
    margin: 2rem;
    border-radius: 9px;
    border-width: 2px;
    border-style: solid;
    border-color: #5fa5ff;
}

.about .row .counter .box span {
    font-size: 4rem;
    color: #5fa5ff;
}

.about .row .counter .box h3 {
    font-size: 2rem;
    color: var(--secondary-color);
}

.about .bibliography {
    position: flex;
    margin: auto;
    padding-top: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    font-size: 16px;
    text-wrap: wrap;
    line-height: 3.5rem;
    color: var(--secondary-color);
}


/* ============================ ABOUT SECTION: Ends ============================ */


/* ============================ EDUCATION SECTION: Starts ============================= */

.education .box-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}

.education .box-container .box {
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid var(--secondary-color);
    position: relative;
}

.education .box-container .box span {
    font-size: 1.3rem;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
}

.education .box-container .box h3 {
    font-size: 2rem;
    color: var(--secondary-color);
    padding-top: 1.5rem;
}

.education .box-container .box p {
    font-size: 1.4rem;
    color: var(--secondary-color);
    padding: 1rem 0;
}

.education .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -2.5rem;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: var(--primary-color);
    background: #5fa5ff;
}

/* ============================ EDUCATION SECTION: Ends =============================== */

/* ============================ PORTFOLIO & INTERESTS SECTION: Starts ========================= */

.portfolio .box-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.portfolio .box-container .box {
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img {
    transform: scale(1.2);
}


/* ============================ PORTFOLIO & INTERESTS SECTION: Ends ============================ */

/* ============================ CONTACT ME SECTION: Starts ============================================ */

.contact .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content {
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}

.contact .row form .box {
    padding: 1.5rem;
    margin: 1rem 0;
    background: var(--secondary-color);
    color: var(--primary-color);
    text-transform: none;
    font-size: 1.5rem;
    width: 100%;
}

.contact .row form .message {
    height: 15rem;
    resize: none;
}

.contact .row .content .title {
    text-transform: uppercase;
    color:var(--secondary-color);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: var(--secondary-color);
    padding: 1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i {
    padding-right: 1rem;
    color: #5fa5ff;
}

.btn_submit {
    width: 200px;
    height: 40px;
    position: flex;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(255,255,255,0.05);
    border: none;
    font-family: 'Poppins',sans-serif;
    color: var(--secondary-color);
    font-size: 14px;
    letter-spacing: 5px;
    backdrop-filter: blur(8px);
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
  border:1px solid #ccc;
}

.btn_submit:after {
    content: "";
    position: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(
        45deg,
        transparent 50%,
        rgba(255,255,255,0.03) 58%,
        rgba(255,255,255,0.16) 67%,
        transparent 68%
    );
    background-size: 200% 100%;
    background-position: 165% 0;
    transition: 0.7s;
}

.btn_submit:hover::after {
    background-position: -20% 0;
}

.btn_submit:hover{
    box-shadow: 15px 30px 32px rgba(0,0,0,0.25);
    transform: translateX(10px);
}

.btn_submit i {
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn_submit:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}


.top {
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
}
/* ============================ CONTACT ME SECTION: Ends ============================================== */

/* Media Queries */

@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home {
        padding: 1rem 4rem;
    }
}

@media (max-width: 991px) {
    header {
        left: -120%;
    }

    header.toggle {
        left: 0%;
    }

    body {
        padding: 0;
    }

    #menu {
        display: block;
    }
}

@media (max-width: 768px) {
    header {
        left:-120%;
    }

    #menu {
        display: block;
    }

    header.toggle {
        left: 0%;
        transition: all .5s ease;
    }
}

@media (max-width: 400px) {
    header {
        width: 100vw;
    }

    .heading {
        margin: 0 3rem;
    }

    .about .row .counter .box {
        width: 100%;
    }

    .education .box-container .box {
        width: 100%;
    }

    .portfolio .box-container .box {
        width: 100%;
    }

    .contact .row form {
        margin: 3rem 0;
    }
}

